.banner {
  background-size: cover;
  padding-top: 70px;
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#methode {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.4) 20%), image-url('methode.WebP');
}
#eau {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.4) 20%), image-url('eau.WebP');
}
#electricite {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 20%), image-url('electricite.WebP');
}
#ondes {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.4) 20%), image-url('ondes.WebP');
}
#magnetisme {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.4) 20%), image-url('magnetisme.WebP');
 }
#cristaux {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.1) 20%), image-url('cristaux.WebP');
}
#metaux {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.4) 20%), image-url('metaux.WebP');
}
#biologie {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.4) 20%), image-url('biologie.WebP');
}

img {
  border-radius: 3px;
  box-shadow:
  0 0.7px 2.9px rgba(0, 0, 0, 0.023),
  0 1.7px 7.4px rgba(0, 0, 0, 0.029),
  0 3.5px 15.2px rgba(0, 0, 0, 0.035),
  0 7.3px 30.7px rgba(0, 0, 0, 0.043),
  0 20px 80px rgba(0, 0, 0, 0.07);
}
