<div class="footer">
  <div class="footer-header">
    <div class="legales-links">
      <%= link_to 'Cookies', kookies_path %>
      <span class="separateur-footer">|</span>
      <%= link_to 'Mentions Légales', mentions_path %>
      <span class="separateur-footer">|</span>
      <%= link_to 'Politique de Confidentialité', confidentialite_path %>
    </div>
    <div class="copyright">
      ©SourcierAmateur 2021
    </div>
  </div>
</div>

