<div class="banner" id="cristaux">
  <h1>LES CRISTAUX</h1>
</div>
<div class="section">
  <div class="sub-section">
    <h2>1. PYRITE</h2>
    <hr class="separateur-xl">
    <div class="image">
      <%= image_tag 'pyrite-1.WebP' %>
      <%= image_tag 'pyrite-2.WebP' %>
    </div>

    <h2>2. MAGNETITE</h2>
    <hr class="separateur-xl">
    <div class="image">
      <%= image_tag 'magnetite-1.WebP' %>
      <%= image_tag 'magnetite-2.WebP' %>
    </div>
  </div>
</div>
