<div class="banner" id="electricite">
  <h1>ELECTRICITÉ</h1>
</div>
<div class="section">
  <div class="sub-section">
    <h2>1.  COURANT CONTINUE></h2>
    <h3>1.1.  Identification des pôles et mesure de la charge d’une pile</h3>
    <h3>1.2.  Interaction entre piles</h3>
    <h3>1.3.  Interaction pile/eau, pile/conducteur et pile/ferrite</h3>
    <h3>1.4.  Intensité et densité de courant</h3>
    <h3>1.5.  Distance fil / opérateur</h3>
    <h3>1.6.  Les caténaires</h3>

    <h2>2.  COURANT ALTERNATIF></h2>
    <h3>2.1.  Réponse d’une prise de courant</h3>
    <h3>2.2.  Alimentation de prises de courant</h3>
    <h3>2.3.  Contrôle de branchement</h3>

    <h2>3.  LIGNE TÉLÉPHONIQUE></h2>

    <h2>4.  ÉLECTROSTATIQUE></h2>
    <h3>4.1.  Effet d’influence</h3>
    <h3>4.2.  Triboélectricité</h3>
    <h3>4.3.  Triboluminescence</h3>
  </div>
</div>
