<div class="section">
  <div class="sub-section">
    <div class="main-title text-center">
      <h1>LA PHYSIQUE, LA CHIMIE, LA BIOLOGIE ET UN SOURCIER AMATEUR</h1>

    </div>

    <div class="image">
      <%= image_tag 'intro-img.WebP' %>
    </div>
    <p>
      Cette étude fait suite à celle que j’ai entreprise pour la caractérisation du parcours de l’eau et la découverte de structures disparues au Château de Fontainebleau. Les résultats font l’objet du site www.eauduparc.com
    </p>

    <p>
      J’ai voulu dans ce document montrer les possibilités qu’offrent les baguettes de sourcier dans des secteurs différents qui touchent à la Chimie, à la Physique et un peu à la Biologie.
    </p>

    <p>
      Si le domaine le plus pratiqué par le sourcier est la recherche de l’eau (détection, direction, profondeur, débit) d’autres problèmes concernant le milieu liquide peuvent également être abordés avec les baguettes. <br>
      On verra qu’il est possible de mesurer des volumes, détecter la concentration de solutés comme le sel ou le sucre dans l’eau, de différencier des liquides alimentaires et des eaux minérales, d‘évaluer des températures, de suivre des réactions de titrage en solution, les baguettes remplaçant le conductimètre.
    </p>

    <p>
      Si les baguettes ont été depuis longtemps utilisées par les mineurs pour la détection des métaux, nous avons cherché à savoir comment les différencier selon leur composition, détecter des pièces fausses, évaluer les surfaces de plaques métalliques, tester l’efficacité des isolants solides et liquides, suivre des réactions chimiques entrainant des changements de conductivité.
    </p>

    <p>
    A ma connaissance peu d‘expériences ont été menées sur les cristaux, en particulier sur les sulfures conducteurs tel que la pyrite et sur la magnétite Fe304 pour lesquels les axes de symétrie et leur orientation ont été déterminées.
    </p>

    Au niveau de la physique nous verrons que les baguettes sont capables de suivre un courant continu et d’évaluer après étalonnage son intensité, se comportant comme un ampèremètre. Au niveau du courant alternatif, il est possible de préciser d’où viennent les lignes aboutissant à des prises de courant et de reconnaitre une ligne téléphonique parmi les lignes aériennes ou souterraines.
    </p>

    <p>
      L’influence toute particulière que jouent les aimants sur la détection avec les baguettes est soulignée. Les caractéristiques des ferrites non conductrices et de la magnétite sont précisées ainsi que leur rôle inhibiteur sur la détection de l’eau et des conducteurs.
    </p>

    <p>
      Les quelques expériences menées en biologie montrent qu’il est possible de suivre la montée de la sève dans les arbres, montée qui s’arrête avec la chute des feuilles. <br>
      Dans certains cas, nous verrons que les anomalies observées sur l’allure d’un arbre sont directement liées au fait qu’une veine d’eau passe sous ses pieds.
    </p>
  </div>
</div>
