<div class="banner" id="magnetisme">
  <h1>MAGNETISME</h1>
</div>
<div class="section">
  <div class="sub-section">
    <h2>1. </h2>

    <h2>2.  </h2>

    <h2>3.  </h2>

    <h2>4.  </h2>

  </div>
</div>
